<div class="main-title">
  <div class="text-1">Publish your
    <img alt="Angular" src="assets/frameworks/angular.png" style="margin-left: 20px;">
    <img alt="React" src="assets/frameworks/react.png" style="margin-right: 4px;">
    <img alt="Svelte" src="assets/frameworks/svelte.png">
  </div>
  <div class="text-2">Website <span class="text-3">In less than 3 minutes</span></div>
</div>
<div class="getting-started-wrapper">
  <a nz-button nzType="primary" routerLink="/getting-started">Getting Started for free</a>
</div>
